# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.*egg-info/
promptvault.egg-info/

# Virtual Environment
venv/
env/
.venv/

# Pycharm
.idea/

# Environment/Secrets
.env

# Project Data
data/
*.db

# OS
.DB_Store
Thumbs.db

# PyInstaller build artifacts
build/
dist/
*.spec.bak
